.advantages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  transition: transform 1s;

  @include _1279 {
    grid-template-columns: repeat(2, 1fr);
  }

  @include _767 {
    grid-template-columns: repeat(4, 82vw);
  }

  &__description {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;

    @include _1279 {
      max-width: 400px;
    }

    @include _767 {
      max-width: 300px;
    }
  }

  &__img {
    justify-self: center;
  }

  &__title {
    font-size: 24px;
    color: $basic-black;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    padding: 0 10px;
    margin-bottom: 20px;
  }

  &__about {
    text-align: center;
    padding: 0 15px;
    color: $light-grey;
  }
}
