.carousel {

  display: none;

  @include _767 {
    display: block;
  }

  &__arrows {
    width: min-content;
    margin: 8px auto;
    display: flex;
  }
  

  &__left {
    width: 48px;
    height: 13px;
    border-top: 2px solid $ultralight-grey;
    border-left: 3px solid $ultralight-grey;
    transform: skewX(50deg);
  }
  &__right {
    width: 48px;
    height: 13px;
    border-bottom: 2px solid $basic-black;
    border-right: 3px solid $basic-black;
    transform: skewX(50deg);
  }

  &__count {
    text-align: center;

    &-current {
      font-size: 16px;
      color: $basic-black;
    }

    &-total {
      font-size: 11px;
      color: $ultralight-grey;
    }
  }
}
