.contacts {

  &__title {
    @extend %h2;

    @include _767 {
      font-size: 37px;
      margin-bottom: 30px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include _767 {
      grid-template-columns: 1fr;
    }
  }

  &__email {
    width: 100%;
    height: 48px;
    padding-left: 30px;
    margin-bottom: 19px;
    background-color: $c-gray;
    outline: none;
    border: 1px solid $darck-grey;
    font-size: 16px;
    line-height: 48px;
    font-weight: 400;
    color: $ultralight-grey;
  }

  &__message {
    width: 100%;
    height: 128px;
    padding: 16px 30px;
    margin-bottom: 30px;
    resize: none;
    background-color: $c-gray;
    outline: none;
    border: 1px solid $darck-grey;
    font-size: 16px;
    font-weight: 400;
    color: $ultralight-grey;
  }

  &__button {
    display: block;
    width: 102px;
    height: 48px;
    color: #fff;
    background-color: $turquoise;
    border: none;
    transition: background-color 1s;
  }
}
