.features {

  background-image: url("../images/Rectangle.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  overflow-x: hidden;

  @include _1000 {
    background-size: 600px;
    background-position: center right;
  }

  @include _767 {
    min-height: 700px;
    background-image: url("../images/features.png");
    background-size: 100%;
    background-position: bottom;
  }

  &__title {
    @extend %h2;
    margin-bottom: 24px;

    @include _767 {
      font-size: 37px;
    }
  }

  &__sub-title {
    font-size: 34px;
    text-transform: uppercase;
    color: #0c797a;
    margin-bottom: 38px;

    @include _767 {
      font-size: 30px;
    }
  }

  &__description {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1;
    transition: transform 1s;

    @include _767 {
      grid-template-columns: repeat(3, 82vw);
    }
  }

  &__list {

    @include _400 {
      list-style: none;
    }
  }

  &__item {
    font-size: 16px;
    color: $basic-black;
    margin-bottom: 13px;

    @include _767 {
      font-size: 14px;
    }
  }

  &__first {
    margin-left: 50%;

    @include _767 {
      margin-left: 0;
      justify-self: center;
    }
  }

  &__second {
    margin-left: 5%;
    margin-bottom: 10%;

    @include _767 {
      margin-left: 0;
      justify-self: center;
    }
  }

  &__third {
    margin-left: 15%;

    @include _767 {
      margin-left: 0;
      justify-self: center;
    }
  }
}
