.footer {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;

  &__logo {
    display: block;

    &-link {
      display: block;
      width: max-content;
      margin: 0 auto 60px;
    }
  }

  &__top-link {
    position: absolute;
    bottom: 85%;
    right: 10%;
  }

  &__soc-icons {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    gap: 20px;
    justify-content: center;
    justify-items: center;
    margin-bottom: 36px;
  }

  &__copyright {
    text-align: center;
    font-size: 14px;
    color: $ultralight-grey;
    margin-bottom: 100px;
  }
}
