.header {

  max-width: 1440px;
  margin: 0 auto;
  padding: 25px 9%;
  overflow-x: hidden;

  &__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-bottom: 89px;

    @include _767 {
      margin-bottom: 0;
    }
  }

  &__logo {
    justify-self: start;
  }

  &__top-lincks {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    @include _767 {
      display: none;
    }
  }

  &__specs {
    line-height: 21px;
    color: #4f4f4f;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__lang {
    line-height: 18px;
    color: $basic-black;
    text-decoration: none;

    &-two {
      color: $darck-grey;
      text-decoration: none;
    }
  }

  &__buy-button {
    display: block;
    width: 102px;
    height: 48px;
    background-color: $basic-black;
    text-align: center;
    line-height: 48px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 400ms, box-shadow 400ms;

    &:hover {
      background-color: #131313;
      box-shadow: $shadow;
    }
  }

  &__mobile-menu {
    display: none;
    justify-self: end;

    @include _767 {
      display: block;
      z-index: 1;
    }

    &-link {
      position: relative;
      display: block;
      height: 2px;
      width: 20px;
      background-color: $basic-black;
      border-radius: 1px;
      transition: width 0.2s;

      &:hover {
        width: 15px;
      }

      &::before {
        content: "";
        position: absolute;
        background: $basic-black;
        right: 0;
        bottom: 6.5px;
        width: 20px;
        height: 2px;
        border-radius: 1px;
        transition: transform 400ms;
        transform-origin: top right;
      }

      &::after {
        content: "";
        position: absolute;
        background: $basic-black;
        right: 0;
        top: 6.5px;
        width: 20px;
        height: 2px;
        border-radius: 1px;
        transition: transform 400ms;
        transform-origin: bottom right;
      }

      &--close {
        background-color: #eee;
        &::before {
          transform: rotate(-45deg);
        }
        &::after {
          transform: rotate(45deg);
        }
      }
    }
  }

  &__photo-block {
    display: grid;
    grid-template-columns: 0.8fr 2.2fr;
    margin-bottom: 130px;

    @include _767 {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__main {
    font-size: calc(44px + 20 * (100vw - 320px) / 1120);
    color: $basic-black;
    text-transform: uppercase;
    font-weight: 700;
    margin: 19% 0;

    @include _767 {
      text-align: center;
    }
  }

  &__description {
    width: 72%;
    line-height: 24px;
    color: $basic-black;

    @include _767 {
      max-width: 300px;
      text-align: center;
      margin: 0 auto;
    }
  }

  &__photo-wrappper {
    position: relative;
    width: 100%;
    
    min-height: 245px;

    @include _767 {
      grid-column: 1;
      grid-row: 1;
    }
  }

  &__photo {
    position: absolute;
    width: 82vw;
    max-width: 1180px;
    height: 100%;
    object-fit: contain;
    object-position: left;

    @include _767 {
      object-position: center;
    }
  }

  &__menu {
    margin-bottom: 70px;
  }
}
