.menu {

  transition: 400ms;

  @include _767 {
    display: none;
    position: absolute;
    top: -15px;
    right: -240px;
  }

  &--move {
    display: block;
    width: 62%;
    right: 0;
  }
}
