.nav {
  max-width: 800px;
  margin: 0 auto;

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;

    @include _767 {
      grid-template-columns: repeat(1, 1fr);
      gap: 40px;
      padding: 10px;
      border-bottom-left-radius: 10px;
      background-color: #eee;
    }
  }

  &__link {
    text-decoration: none;
    color: $basic-black;
    transition: font-weight 0.2s, color 0.4s;

    &:hover {
      color: #131313;
      font-weight: 700;
    }
  }
}
