* {
  box-sizing: border-box;
}

html,
body,
p,
h1,
h2,
h3,
ul,
li,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  scroll-behavior: smooth;
}

::-webkit-input-placeholder {
  color: $ultralight-grey;
}

::-moz-placeholder {
  color: $ultralight-grey;
}

:-moz-placeholder {
  color: $ultralight-grey;
}

:-ms-input-placeholder {
  color: $ultralight-grey;
}
